#sc1bg {
  width: 100%;
  height: 100%
}
#sc1angel {
  z-index: 1000;
}
#sc1angel2 {
  background-image: url(https://lh3.googleusercontent.com/-jcJ-HCT4KhU/WAburORgfAI/AAAAAAAAACM/layK-GfCFGISj_5YObWc-8LWS-doGdgIQCL0B/w400-d-h100-p-rw/Untitled-4.png);
  height: 
}